:root {
    --color-primary: #39693B;
    --color-on-primary: #FFFFFF;
    --color-primary-container: #BAF0B6;
    --color-on-primary-container: #002106;

    --color-secondary: #4E6629;
    --color-on-secondary: #FFFFFF;
    --color-secondary-container: #D0EDA1;
    --color-on-secondary-container: #121F00;

    --color-tertiary: #606219;
    --color-on-tertiary: #FFFFFF;
    --color-tertiary-container: #E6E890;
    --color-on-tertiary-container: #1C1D00;

    --color-error: #904A43;
    --color-on-error: #FFFFFF;
    --color-error-container: #FFDAD6;
    --color-on-error-container: #3B0907;

    --color-background: #F7FBF2;
    --color-on-background: #181D17;
    --color-surface: #F5FAFC;
    --color-on-surface: #171C1E;

    --color-surface-variant: #DEE5D9;
    --color-on-surface-variant: #424940;
    --color-outline: #72796F;
}  